body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4fddd;# se modifica el fondo de la pagina
    border: 5px solid black;
  }
  
  div {
    text-align: center;
    background-color: rgb(255, 190, 54);# modifico el fondo del titulo de la pagina 
    padding: 10px;
    padding: 0 20px 20px 20px;
  }
  
  .output {
    text-align: center; 
    color: white; 
    font-size: 20px;
  }
  
  .active {
    margin: 40px;
    padding: 50px;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient( 135deg, orange 60%, cyan);
    border-radius: 30px;
    cursor: pointer
    
  }
